.events {
    display: flex;
    flex-direction: column;
    line-height: 2em;
    margin: 3%;
    background-color: white;
    padding: 4%;
    border-radius: 8px;
    text-align: left;
    box-shadow: 0 10px 25px rgba(92, 99, 105, 0.2);
    width: 500px;
}

.events h4 {
    
    font-size: 1.3rem;
}
.events p {
    font-size: 1rem;
}
.events span {
    font-weight: bold;
}